# (실습) 판다스 데이터프레임

**필수 라이브러리**

In [4]:
import numpy as np
import pandas as pd

**문제 1**

아래 리스트를 이용하여 시리즈를 생성하여라.

In [5]:
aList = [1, 3, 5, np.nan, 6, 8]

In [6]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

pd.Series(aList)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**문제 2**

(1) 아래 사전을 이용하여 데이터프레임을 생성하여 `df1` 변수에 할당하여라.

In [7]:
abcd_dict = {"A": 1.0,
             "B": pd.Series(1, index=list(range(4)), dtype="float32"),
             "C": np.array([3] * 4, dtype="int32"),
             "D": ["test", "train", "test", "train"]}

In [8]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df1 = pd.DataFrame(abcd_dict)
df1

     A    B  C      D
0  1.0  1.0  3   test
1  1.0  1.0  3  train
2  1.0  1.0  3   test
3  1.0  1.0  3  train

(2) `df1`이 가리키는 데이터프레임의 열별 자료형을 확인하여라.

In [9]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

**문제 3**

`pd.date_range()` 함수는 시간으로 구성된 인덱스 자료형을 생성한다.
함수 호출에 사용된 키워드 인자의 의미는 다음과 같다.

- `start="20130101`: 2013년 1월 1일부터 시작
- `periods=6`: 첫째 인자로 지정된 시간부터 6 개의 시간 데이터 샘플 생성
- `freq="D"`: 시간 데이터 샘플을 일(day) 단위로 생성

In [10]:
dates = pd.date_range(start="20130101", periods=6, freq="D")
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

`dates`를 행 인덱스로, `['A', 'B', 'C', 'D']`를 열 인덱스로 사용하는(6, 4) 모양의 데이터프레임을 생성하여 `df` 변수에 할당하여라.
단, 항목은 `np.random.randn(6, 4)`를 이용하여 생성한다.

In [ ]:
np.random.seed(0)

# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','d']) # columns=list('ABCD')
df

                   A         B         C         d
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

**문제 4**

(1) `df`가 가리키는 데이터프레임의 처음 5행을 확인하여라.

In [ ]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df.head() # 앞의 5행을 보여줌
          # default는 5행, 인자를 주어 조절가능능

                   A         B         C         d
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

(2) `df`가 가리키는 데이터프레임의 마지막 5행을 확인하여라.

In [33]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df.tail()

                   A         B         C         d
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

**문제 5**

(1) `df`가 가리키는 데이터프레임의 행 라벨을 확인하여라.

In [35]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

(2) `df`가 가리키는 데이터프레임의 열 라벨을 확인하여라.

In [36]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df.columns

Index(['A', 'B', 'C', 'd'], dtype='object')

**문제 6**

(1) `df`가 가리키는 데이터프레임을 넘파이 어레이로 변환하여라.

In [38]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df_array = df.to_numpy()
df_array

array([[ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ],
       [ 1.86755799, -0.97727788,  0.95008842, -0.15135721],
       [-0.10321885,  0.4105985 ,  0.14404357,  1.45427351],
       [ 0.76103773,  0.12167502,  0.44386323,  0.33367433],
       [ 1.49407907, -0.20515826,  0.3130677 , -0.85409574],
       [-2.55298982,  0.6536186 ,  0.8644362 , -0.74216502]])

(1) `df1`이 가리키는 데이터프레임을 넘파이 어레이로 변환하여라.

In [39]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df1_array = df1.to_numpy()
df1_array

array([[1.0, 1.0, 3, 'test'],
       [1.0, 1.0, 3, 'train'],
       [1.0, 1.0, 3, 'test'],
       [1.0, 1.0, 3, 'train']], dtype=object)

**문제 7**

`df`가 가리키는 데이터프레임에 속한 수치형 데이터의 분포를 확인하여라.

힌트: `desecribe()` 메서드

In [ ]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.
df.describe() #수치형 데이터만 사용(나이, 금액 등 최소가 -가 나오면 아닌곳에서 확인이 편함)

              A         B         C         d
count  6.000000  6.000000  6.000000  6.000000
mean   0.538420  0.067269  0.615706  0.380204
std    1.685238  0.590042  0.360293  1.239655
min   -2.552990 -0.977278  0.144044 -0.854096
25%    0.112845 -0.123450  0.345767 -0.594463
50%    1.127558  0.260916  0.654150  0.091159
75%    1.696559  0.407988  0.928675  1.174124
max    1.867558  0.653619  0.978738  2.240893

**문제 8**

아래 링크에 있는 `score.txt` 파일에는
100명의 학생들의 국어, 영어, 수학, 사회, 과학 점수가 들어 있다.

In [19]:
score_url = "https://raw.githubusercontent.com/codingalzi/datapy/master/practices/data/score.txt"

(1) 위 링크의 파일 내용을 담은 데이터프레임을 가리키는 변수 `df_score`를 선언하여라.

힌트: 판다스의 `read_csv()` 함수 활용

In [ ]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df_score = pd.read_csv(score_url, sep=',',header=0)
df_score

    # 국어   영어   수학   사회   과학
0     15   16   21    0   14
1     96   91   14   11   75
2     49   63   15   18   61
3     54    4   20   21    1
4     46    8    7   23    9
..   ...  ...  ...  ...  ...
95    69   61   11   28   97
96    41   97   16   13    8
97     0   84   18    9   15
98    19   11   15    2   90
99     0    7   33    7   58

[100 rows x 5 columns]

(2) 열 라벨을 확인하는 한 줄 표현식을 작성하여라.

In [21]:
# 한 줄 표현식을 작성하여라.
df_score.columns

Index(['# 국어', ' 영어', ' 수학', ' 사회', ' 과학'], dtype='object')

(3) 열 라벨에 포함된 샵 기호와 공백을 제거하여라.

힌트: `Index` 객체의 문자열 메서드 활용

In [40]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df_index = df_score.columns.str.replace('#', '').str.strip()
df_index

Index(['국어', '영어', '수학', '사회', '과학'], dtype='object')

**문제 9**

먼저 하나의 새로운 시리즈를 생성한다.

In [23]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a    2.269755
b   -1.454366
c    0.045759
d   -0.187184
e    1.532779
dtype: float64

아래 코드의 실행 결과를 설명하여라.

In [24]:
s.reindex(["e", "b", "f", "d"])

e    1.532779
b   -1.454366
f         NaN
d   -0.187184
dtype: float64

*설명*

입력학 인덱스 순서로 데이터프레임을 새로 작성

**문제 10**

`df` 데이터프레임을 계속 이용한다.

In [25]:
df

                   A         B         C         d
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

행 인덱스는 `dates`가 가리키고 있다.

In [26]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

(1) 행과 열의 인덱스를 다음으로 지정된 새로운 데이터프레임을 생성하여라.

- `index=[dates[1], dates[3], dates[0]]`
- `columns=["C", "B", "A"])`

In [27]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df.reindex(index=[dates[1], dates[3], dates[0]], columns=["C", "B", "A"])

                   C         B         A
2013-01-02  0.950088 -0.977278  1.867558
2013-01-04  0.443863  0.121675  0.761038
2013-01-01  0.978738  0.400157  1.764052

(2) 행의 인덱스를 다음으로 지정된 새로운 데이터프레임을 생성하여라.

    [dates[1], dates[3], dates[0]]

In [ ]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df.reindex(index=[dates[1], dates[3], dates[0]])
'''
df.reindex([dates[1], dates[3], dates[0]], axis="index")#or axis=0
'''

TypeError: Cannot specify both 'axis' and any of 'index' or 'columns'

(3) 열의 인덱스를 다음으로 지정된 새로운 데이터프레임을 생성하여라.

    ["C", "B", "A"]

In [ ]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df.reindex(columns=["C", "B", "A"])
'''
df.reindex(["C", "B", "A"], axis="columns") #axis=1
'''

                   C         B         A
2013-01-01  0.978738  0.400157  1.764052
2013-01-02  0.950088 -0.977278  1.867558
2013-01-03  0.144044  0.410599 -0.103219
2013-01-04  0.443863  0.121675  0.761038
2013-01-05  0.313068 -0.205158  1.494079
2013-01-06  0.864436  0.653619 -2.552990

In [42]:
# df의 원본이 바뀌는건 아님
df

                   A         B         C         d
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165